<md-toolbar flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="more_vert" class="fill-white"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="person_outline" class="fill-white"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="search" class="fill-white"></ng-md-icon>
    </md-button>
    <span flex></span>
    <div>ניהול מלאי והזמנות</div>
    <img title="Algoretail" class="login-img width-48 margin-left-15" ng-src="{{::vm.imagesPath + '/assets/images/algologo.gif'}}" />
    <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-right float-right height-100P" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" dir="rtl">
  <md-toolbar class="md-tall toolBar" dir="rtl">
    <div class="text-align-left" hide-gt-sm>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.closeSidenav()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
    <span flex></span>
    <div layout="column" layout-align="end start" class="md-toolbar-tools-bottom inset">
      <md-card-avatar>
        <img class="md-user-avatar user-avatar-med" ng-src="{{::vm.imagesPath + '/assets/images/gorme-logo.png'}}">
      </md-card-avatar>
      <div class="width-100p">
        <div layout="row">
          <div class="username">ישראל מור</div>
          <span flex></span>
        </div>
      </div>
    </div>
  </md-toolbar>

  <div>
    <md-list layout="column" layout-fill flex>
      <md-list-item ng-click="vm.viewMode = 'ordersStatus'" ng-class="{'list-item-active': vm.viewMode === 'ordersStatus'}">
        <!--<md-icon style="padding-right: 16px; color: #000000">timeline</md-icon>-->
        <p>מצב הזמנות</p>
      </md-list-item>
      <md-list-item ng-click="vm.viewMode = 'ordersManager'" ng-class="{'list-item-active': vm.viewMode === 'ordersManager'}">
        <!--<md-icon style="padding-right: 16px; color: #000000">view_quilt</md-icon>-->
        <p>ניהול הזמנות</p>
      </md-list-item>
      <md-list-item ng-href="#/admin">
        <!--<md-icon style="padding-right: 16px; color: #000000">pie_chart</md-icon>-->
        <p>דוחות מלאי</p>
      </md-list-item>
      <md-list-item ng-click="vm.viewMode = 'usersManager'" ng-class="{'list-item-active': vm.viewMode === 'usersManager'}">
        <!--<md-icon style="padding-right: 16px; color: #000000">people_outline</md-icon>-->
        <p>ניהול סניפים</p>
      </md-list-item>
    </md-list>
  </div>
</md-sidenav>


<md-content layout-padding md-scroll-y style="height: 90%">

      <dashboard ng-if="vm.viewMode === 'ordersStatus'"></dashboard>
      <users-manager ng-if="vm.viewMode === 'usersManager'"></users-manager>
      <orders-manager ng-if="vm.viewMode === 'ordersManager'"></orders-manager>


</md-content>