<md-toolbar flex>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="more_vert" class="fill-white"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="person_outline" class="fill-white"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Menu">
      <ng-md-icon icon="search" class="fill-white"></ng-md-icon>
    </md-button>
    <span flex></span>
    <div>ניהול מלאי והזמנות</div>
    <img title="Algoretail" class="login-img width-48 margin-left-15" ng-src="{{::vm.imagesPath + '/assets/images/algologo.gif'}}"
    />
    <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.toggleSidenav('left')" hide-gt-sm>
      <md-icon>menu</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-right float-right height-100P" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
  dir="rtl" ng-if="vm.showSideNav">
  <md-toolbar class="md-tall toolBar" dir="rtl">
    <div class="text-align-left" hide-gt-sm>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.closeSidenav()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
    <span flex></span>
    <div layout="column" layout-align="end start" class="md-toolbar-tools-bottom inset">
      <md-card-avatar>
        <img class="md-user-avatar user-avatar-med" ng-src="{{::vm.imagesPath + '/assets/images/gorme-logo.png'}}">
      </md-card-avatar>
      <div class="width-100p">
        <div layout="row">
          <div class="username">ישראל מור</div>
          <span flex></span>
        </div>
      </div>
    </div>
  </md-toolbar>

  <md-content flex md-scroll-y layout-fill>
    <md-list layout="column" layout-fill flex>
      <menu-group ng-repeat="menuItem in vm.menu" 
                  view-mode="vm.viewMode" 
                  header-text="menuItem.headerText" 
                  buttons="menuItem.buttons" 
                  defult-open="menuItem.defultOpen"></menu-group>
    </md-list>
  </md-content>
</md-sidenav>

 
<md-content ng-if="!vm.loadingData" layout-padding md-scroll-y style="height: 90%">

  <dashboard ng-if="vm.viewMode === 'ordersStatus'"></dashboard>
  <users-manager ng-if="vm.viewMode === 'usersManager'"></users-manager>
  <orders-manager ng-if="vm.viewMode === 'ordersManager'"></orders-manager>

</md-content>

<md-content ng-if="vm.loadingData" layout-padding md-scroll-y style="height: 90%">

  Loading...

</md-content>