<md-item>
    <a ng-click="vm.toggleSection()">
        <md-item-content layout="row" layout-align="start center" style="padding: 5px 10px;">
            <div class="inset">{{vm.headerText}}</div>
            <span flex></span>
            <div class="inset">
                <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
            </div>
        </md-item-content>
    </a>
</md-item>
<span ng-show="vm.showSection">
<md-divider></md-divider>
<md-list-item ng-repeat="button in vm.buttons" ng-click="vm.viewMode = button.mode" ng-class="{'list-item-active': vm.viewMode === button.mode}">
    <md-icon style=" color: #000000">{{button.icon}}</md-icon>
    <p>{{button.text}}</p>
</md-list-item>

</span>
<md-divider></md-divider>