<md-content flex md-scroll-y class="background-color-transparent" dir="rtl">
    <main flex>
        <ui-view layout="column" layout-fill>

            <md-card layout="column">
                <a ng-click="vm.toggleFilterSection()" style="margin: 0; cursor: pointer">
                    <md-card-title class="management-filter-card-title">
                        <md-card-title-text>
                            <h3>סינון</h3>
                        </md-card-title-text>
                        <md-button class="md-icon-button" aria-label="toggle">
                            <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
                        </md-button>
                    </md-card-title>
                </a>
                <div layout-gt-xs="row" flex layout-padding ng-show="vm.showTasksFilter">
                    <div layout-gt-xs="column" flex="90" layout="column">
                        <div layout-gt-xs="row" layout="column">
                            <md-input-container class="md-block" flex>
                                <label>רשת</label>
                                <md-select md-no-asterisk ng-model="vm.ordersFilter.networkId" name="user" multiple>
                                    <md-option ng-repeat="(key, value) in vm.networks" value="{{value.id}}" dir="rtl">
                                        {{value.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>סניף</label>
                                <md-select md-no-asterisk ng-model="vm.ordersFilter.branchId" name="user" multiple>
                                    <md-option ng-if="vm.ordersFilter.networkId === undefined || vm.ordersFilter.networkId === ''" ng-repeat="(key, value) in vm.branches"
                                        value="{{value.id}}" dir="rtl">
                                        {{value.name}}
                                    </md-option>
                                    <md-option ng-if="vm.ordersFilter.networkId !== undefined && vm.ordersFilter.networkId !== ''" ng-repeat="(key, value) in vm.networksBranchesMap[vm.ordersFilter.networkId]"
                                        value="{{value.id}}" dir="rtl">
                                        {{value.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container>
                                <label>תאריך הזמנה</label>
                                <md-datepicker md-open-on-focus ng-model="vm.ordersFilterCreatedDate" md-hide-icons="calendar"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>מספר הזמנה</label>
                                <input ng-model="vm.ordersFilter.orderId" name="name" type="number">
                            </md-input-container>

                        </div>

                        <div layout-gt-xs="row" layout="column">
                            <md-input-container class="md-block" flex>
                                <label>מחלקה</label>
                                <md-select md-no-asterisk ng-model="vm.ordersFilter.departmentId" name="user" multiple>
                                    <md-option ng-repeat="d in vm.departments" value="{{d.id}}" dir="rtl">
                                        {{d.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>פריט בהזמנה</label>
                                <input ng-model="vm.ordersFilterFreeText" name="name">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="md-secondary md-block" flex="10" layout="column" layout-align="center center">
                        <md-button aria-label="filter" ng-click="vm.getOrders()" class="md-warn md-raised md-hue-1">סנן</md-button>
                        <md-button ng-if="vm.orders.length > 0" aria-label="download" ng-click="vm.downloadFilterdTable()" class=" md-raised ">
                            <md-icon ng-hide="vm.downloading" style="width:22px;height:22px;" md-svg-src="/assets/images/Exel_download.svg">
                            </md-icon>
                            <md-progress-circular ng-show="vm.downloading" class="md-hue-2 btn-circular" md-diameter="20px"></md-progress-circular>
                        </md-button>
                    </div>
                </div>
            </md-card>

            <md-card layout-margin>
                <md-table-container>
                    <table md-table md-row-select multiple ng-model="selected" md-progress="vm.promise">
                        <!--md-progress="vm.promise"-->
                        <thead md-head md-order="vm.query.order" md-order="vm.query.order" md-on-reorder="vm.getOrders">
                            <tr md-row>
                                <th md-column md-order-by="order.branchId">סניף</th>
                                <th md-column md-order-by="order.orderId">מספר הזמנה</th>
                                <th md-column md-order-by="item.itemSerialNumber">קוד פריט</th>
                                <th md-column md-order-by="item.itemName">שם פריט</th>
                                <th md-column>כמות מוזמנת</th>
                                <th md-column>ביקורת</th>
                                <th md-column>מילועוף</th>
                                <th md-column>עוף עוז</th>
                                <th md-column>עוף טוב</th>
                                <th md-column>+</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr class="distribution-table" md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="o in vm.ordersItems | orderBy: vm.query.order">
                                <td md-cell >{{::o.order.branchId}}</td>
                                <td md-cell >{{::o.order.orderId}}</td>
                                <td md-cell >{{::o.item.itemSerialNumber}}</td>
                                <td md-cell >{{::o.item.itemName}}</td>
                                <td md-cell >{{::o.item.count}}</td>
                                <td md-cell ng-class="{'text-green' : o.sum === o.item.count}">{{o.sum}}</td>
                                <td md-cell> 
                                    <md-input-container style="margin: 0">
                                        <input aria-label="input" style="width: 40px;" type="number" name="name{{$index}}" 
                                               ng-model="o.s1count" min="0" max="{{o.item.count - o.sum + o.s1count}}"
                                               ng-change="vm.updateSum(o.s1count, o)">
                                    </md-input-container> 
                                </td>
                                 <td md-cell> 
                                    <md-input-container style="margin: 0">
                                        <input aria-label="input" style="width: 40px;" type="number" name="name{{$index}}" 
                                               ng-model="o.s2count" min="0" max="{{o.item.count - o.sum + o.s2count}}"
                                               ng-change="vm.updateSum(o.s2count, o)">
                                    </md-input-container> 
                                </td>
                                 <td md-cell> 
                                    <md-input-container style="margin: 0">
                                        <input aria-label="input" style="width: 40px;" type="number" name="name{{$index}}" 
                                               ng-model="o.s3count" min="0" max="{{o.item.count - o.sum + o.s3count}}"
                                               ng-change="vm.updateSum(o.s3count, o)">
                                    </md-input-container> 
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <!--</md-card>
                    <md-card>-->
                <!--<md-table-pagination md-label="{'of': ' מתוך ', 'page': 'עמוד מספר', 'rowsPerPage': 'מספר שורות בעמוד' }" md-limit="vm.query.limit"
                    md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.totalOrderCount}}" md-on-paginate="vm.getOrders"
                    md-page-select></md-table-pagination>-->
            </md-card>

        </ui-view>
    </main>
</md-content>