<md-toolbar flex>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-button ng-if="vm.viewMode === 'viewOrder'" ng-hide="vm.showSucseesMessage === true || vm.cartItems.length < 1" class="md-warn md-raised md-hue-1"
            ng-disabled="vm.sendingOrder" ng-click="vm.sendOrder()">
            <span ng-hide="vm.sendingOrder">{{vm.pageText.sendBTN}}</span>
            <md-progress-circular ng-hide="!vm.sendingOrder" class="md-hue-2 btn-circular" md-diameter="20px"></md-progress-circular>
        </md-button>
        <md-button ng-if="vm.viewMode === 'newOrder'" class="md-warn md-raised md-hue-1" ng-click="vm.switchMode('view')">
            {{vm.pageText.viewBTN}}
            <md-badge ng-if="vm.cardCount() > 0">{{vm.cardCount()}}</md-badge>
        </md-button>
        <span flex></span>
        <p>{{vm.pageText.title}}</p>
        <md-button ng-if="vm.viewMode === 'viewOrder'" class="md-icon-button" ng-click="vm.switchMode('new')" aria-label="Menu">
            <md-icon ng-md-icon icon="arrow_forward" style="fill: white"></md-icon>
        </md-button>
        <md-button ng-if="vm.viewMode === 'newOrder'" class="md-icon-button" ng-click="vm.navigateTo('entry')" aria-label="Menu">
            <md-icon ng-md-icon icon="arrow_forward" style="fill: white"></md-icon>
        </md-button>
    </div>
</md-toolbar>


<md-content layout-padding md-scroll-y style="height: 90%" dir="rtl">

    <view-order items="vm.cartItems" 
                order-title="vm.pageText.viewTitle" 
                order-date="vm.currDate"
                show-delete-btn="true" 
                show-edit-btn="true"
                switch-to-new-order-mode="vm.switchMode"
                item-count-changed-callback="vm.itemCountChanged"
                clean-data="vm.cleanData"
                show-second-order="(vm.pageMode === 'order')"
                is-second-order="vm.isSecondOrder"
                ng-if="vm.viewMode === 'viewOrder' && vm.showErrorMessage === false && vm.showSucseesMessage === false" >
    </view-order>

    <new-order ng-if="vm.viewMode === 'newOrder'" 
               catalog="vm.catalog" 
               item-count-changed="vm.itemCountChanged"
               page-mode="vm.pageMode"></new-order>

    <md-card style="width: 100%; margin: 0px;" layout-margin ng-if="vm.showSucseesMessage === true && vm.viewMode === 'viewOrder'">
        <md-card-title class="management-filter-card-title">
            <md-icon ng-md-icon icon="assignment_turned_in" class="message-icon" style="fill: green" size="40"></md-icon>
            <md-card-title-text>
                <h3> {{vm.pageText.sucsessMessage}} </h3>
            </md-card-title-text>
        </md-card-title>
    </md-card>

    <md-card style="width: 100%; margin: 0px;" layout-margin ng-if="vm.showErrorMessage === true && vm.viewMode === 'viewOrder'">
        <md-card-title class="management-filter-card-title">
            <md-icon ng-md-icon icon="error" class="message-icon" style="fill: brown" size="40"></md-icon>
            <md-card-title-text>
                <h3> {{vm.pageText.sucsessMessage}} </h3>
                <h4>אנא נסה לשלוח שוב</h4>
            </md-card-title-text>
        </md-card-title>
    </md-card>

</md-content>