<md-content flex md-scroll-y class="background-color-transparent" dir="rtl">
    <main flex>
        <ui-view layout="column" layout-fill>

            <filter-table card-title="'סינון ופעולות'" 
                          on-filter-callback="vm.getOrders" 
                          show-download-excel-btn="vm.orders.length > 0"
                          download-filterd-table="vm.downloadFilterdTable">
            </filter-table>

            <md-card layout-margin>
                <md-table-container>
                    <table md-table md-progress="vm.promise">
                        <!--md-progress="vm.promise"-->
                        <thead md-head md-order="vm.query.order">
                            <tr md-row>
                                <th md-column md-order-by="orderId">מספר הזמנה</th>
                                <th md-column md-order-by="orderId">אספקה שניה</th>
                                <th md-column md-order-by="createdDate">תאריך</th>
                                <th md-column md-order-by="branchName"><span>שם סניף</span></th>
                                <th md-column md-order-by="brachId">מספר סניף</th>
                                <th md-column>כמות מוצרים</th>
                                <th md-column md-order-by="branchName"><span>שולח</span></th>
                                <th md-column></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="order in vm.orders | orderBy: vm.query.order">
                                <td md-cell ng-click="vm.openOrderDialog(order, $event)">{{::order.orderId}}</td>
                                <td md-cell ng-click="vm.openOrderDialog(order, $event)">
                                    <md-checkbox name="tos" ng-disabled="true" ng-model="order.type === 'secondOrder'">
                                    </md-checkbox>                               
                                </td>
                                <td md-cell mdNumeric ng-click="vm.openOrderDialog(order, $event)">{{::order.createdDate | date: 'dd/MM'}}</td>
                                <td md-cell ng-click="vm.openOrderDialog(order, $event)">{{::order.branchName}}</td>
                                <td md-cell ng-click="vm.openOrderDialog(order, $event)">{{::order.branchId}}</td>
                                <td md-cell ng-click="vm.openOrderDialog(order, $event)">{{order.items.length}}</td>
                                <td md-cell ng-click="vm.openOrderDialog(order, $event)">{{order.createdBy}}</td>
                                <td md-cell>
                                    <md-button ng-click="vm.downloadExel(order._id)" aria-label="download">
                                        <md-icon style="width:28px;height:28px;" md-svg-src="/assets/images/Exel_download.svg">
                                        </md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <!--</md-card>
                    <md-card>-->
                <md-table-pagination md-label="{'of': ' מתוך ', 'page': 'עמוד מספר', 'rowsPerPage': 'מספר שורות בעמוד' }" md-limit="vm.query.limit"
                    md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.totalOrderCount}}" md-on-paginate="vm.getOrders"
                    md-page-select></md-table-pagination>
            </md-card>

        </ui-view>
    </main>
</md-content>