<md-toolbar flex>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <md-button ng-hide="vm.showSucseesMessage === true || vm.cardItems.length < 1" class="md-warn md-raised md-hue-1" ng-click="vm.sendOrder()">
            שלח הזמנה
        </md-button>
        <span flex></span>
        <p>הזמנה</p>
        <md-button class="md-icon-button" ng-click="vm.navigateTo('newOrder')" aria-label="Menu">
            <ng-md-icon icon="arrow_forward" style="fill: white"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content layout-padding md-scroll-y style="height: 90%" dir="rtl">
    <h5 layout="column" layout-align="center center" flex>
        <items-list items="vm.cardItems" department-name="'הזמנה לתאריך ' + vm.currDate" defult-open="true" style="width: 100%" 
                    ng-if="vm.showErrorMessage === false && vm.showSucseesMessage === false && vm.cardItems.length > 0"></items-list>
        <md-card style="width: 100%" layout-margin ng-if="vm.showSucseesMessage === true">
            <md-card-title class="management-filter-card-title">
                <ng-md-icon icon="assignment_turned_in" class="message-icon" style="fill: green" size="40"></ng-md-icon>
                <md-card-title-text>
                    <h3> ההזמנה נשלחה בהצחלה ! </h3>                  
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card style="width: 100%" layout-margin ng-if="vm.showErrorMessage === true">
            <md-card-title class="management-filter-card-title">
                <ng-md-icon icon="error" class="message-icon" style="fill: brown" size="40"></ng-md-icon>
                <md-card-title-text>
                    <h3> אירעה שגיאה בשליחת ההזמנה ! </h3> 
                    <h4>אנא נסה לשלוח שוב</h4>                 
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</md-content>