<md-card layout-margin>
    <md-card-title class="management-filter-card-title">
        <md-card-title-text>
            <h3>{{vm.departmentName}}</h3>
        </md-card-title-text>
        <md-button class="md-icon-button" ng-click="vm.toggleFilterSection()" aria-label="toggle">
            <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
        </md-button>
    </md-card-title>
    <md-table-container ng-if="vm.showList">
        <table id="items-table" md-table md-row-select multiple ng-model="selected" md-progress="vm.promise">
            <!--<thead md-head>
                md-order="vm.query.order" md-on-reorder="vm.getTasks"
                <tr md-row>
                    <th md-column><span>שם</span></th>
                    <th md-column>מקט</th>
                    <th md-column>כמות</th>
                </tr>
            </thead>-->
            <tbody md-body>
                <tr md-row md-select="item" md-select-id="name" md-auto-select ng-repeat="item in vm.items">
                    <td md-cell style="padding: 0 6px; font-size: 15px; width: 80%">{{::item.name}}</td>
                    <!--<td md-cell mdNumeric>{{item.serialNumber}}</td>-->
                    <td md-cell style="padding: 0 0px 0px 20px;">
                        <input type="number" ng-model="item.count" min="1" max="9999" ng-change="vm.itemCountInputBlur(item)">
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <!--</md-card>
                    <md-card>-->
    <!--<md-table-pagination md-label="{'of': ' מתוך ', 'page': 'עמוד מספר', 'rowsPerPage': 'מספר שורות בעמוד' }" md-limit="vm.query.limit"
                    md-limit-options="[5, 10, 15, 20]" md-page="vm.query.page" md-total="{{vm.totalTaskCount}}" md-on-paginate="vm.getTasks"
                    md-page-select></md-table-pagination>-->
</md-card>