<md-input-container class="md-block" flex style="margin: 0 14px;">
    <md-progress-circular ng-if="vm.showProgress" class="md-accent" md-diameter="20"></md-progress-circular>
    <input md-no-asterisk ng-model="vm.searchString" name="name" placeholder="חפש פריט" ng-keyup="vm.searchInputKeyUp()">
    <md-icon ng-md-icon icon="{{vm.searchIcon}}" options='{"rotation": "counterclock"}' ng-click="vm.cleanSearch()"></md-icon>
    <div ng-if="vm.minimumRequiered" style="color:maroon" role="alert">
        <div ng-message="minlength">החיפוש מוגבל למינימום 3 תווים</div>
    </div>
</md-input-container>

<items-list ng-if="vm.searchString !== '' && vm.searchResults !== null && vm.searchResults.length > 0" items="vm.searchResults"
    list-title="'תוצאות חיפוש'" defult-open="true" edit-mode="true" item-count-changed="vm.countChanged"></items-list>
<div ng-if="vm.searchString !== '' && vm.searchResults !== null && vm.searchResults.length < 1" style="margin: 0 14px;">
    <h4>אין תוצאות עבור "{{vm.searchString}}"</h4>
</div>
