<md-input-container class="md-block" flex>
    <label>{{vm.selectLable}}</label>
    <md-select md-no-asterisk aria-label="select" ng-model="vm.selectModel" name="user" multiple>
        <md-select-header>
            <md-input-container style="margin: 10px 5px -18px 10px;">
                <input ng-model="vm.searchTerm" type="search" placeholder="Search for a vegetable.." class="demo-header-searchbox md-text">
            </md-input-container>
            <br/>
            <div layout="row">
                <span flex="30"></span>
                <a style="z-index: 100000;" class="href" dir="rtl" ng-click="vm.clearAll()">clear</a>
                <span flex="20"></span>
                <a style="z-index: 100000;" class="href" dir="rtl" ng-click="vm.selectAll()">all</a>
                <span flex="30"></span>
            </div>
        </md-select-header>
        <md-option ng-repeat="(key, value) in vm.selectValues | filter: vm.searchTerm" value="{{value.id}}" dir="rtl">
            {{value.name}}
        </md-option>
    </md-select>
</md-input-container>