<div ng-if="!vm.load1" >
    <div class="dx-viewport"  >
            <div ng-if="vm.dataLoading">
                    <center><b>.....   מעבד נתונים - נא להמתין   </b></center>
            </div>
        <div id="gridContainer" dx-data-grid="vm.dg" dx-item-alias="item">
            <div data-options="dxTemplate: { name: 'headerCellTemplate' }">
                    {{item.column.caption}} <br>
                    <input aria-label="input" style="width: 45px;" type="text" name="name{{$index}}" ng-model="test" ng-maxlength="3"
                    ng-change="vm.jostest(test, item.column)" ng-enter>
            </div>
        </div>
    </div>
</div>