<md-content layout-padding md-scroll-y style="height: 100%">

    <div layout-align="end start" layout="row">
        <div layout-align="center center">
            <span>
                שלום{{' ' + vm.user.name}}
            </span>
        </div>
    </div>

    <div layout-align="center center" layout="column">
        <div layout-align="center center" style="width: 85%;">
            <img class="login-img" ng-src="{{::vm.imagesPath + '/assets/images/gorme-logo.png'}}" />
        </div>
    </div>

    <div layout-align="center center" layout="column">
        <div layout-align="center center">
            <span>מחובר כסניף {{' ' + vm.user.branch.name}}</span>
        </div>
    </div>

    <div>
        <div layout="column" style="margin-bottom: 10px;">
            <md-button ng-disabled="vm.user === undefined || vm.user.branch === undefined" class="md-raised md-primary entry-btn" ng-click="vm.navigateTo('order', 'order')">
                הזמנת סחורה
            </md-button>
        </div>
        <div layout="column" style="margin-bottom: 10px;">
            <md-button ng-disabled="vm.user === undefined || vm.user.branch === undefined" class="md-raised md-primary entry-btn" ng-click="vm.navigateTo('order', 'stock')">
                ספירת מלאי
            </md-button>
        </div>
        <div layout="column" style="margin-bottom: 10px;">
            <md-button ng-disabled="vm.user === undefined || vm.user.branch === undefined" class="md-raised md-primary entry-btn" ng-click="vm.navigateTo('history')">
                הסטוריה
            </md-button>
        </div>
        <div layout="column" style="margin-bottom: 10px;">
            <md-button class="md-raised md-primary entry-btn" ng-click="vm.openBranchCodeAlert()">
                <span ng-hide="vm.processing">החלף סניף</span>
                <md-progress-circular ng-if="vm.processing" class="md-hue-2 btn-circular" md-diameter="20px"></md-progress-circular>
            </md-button>
        </div>
    </div>
</md-content>