<md-dialog aria-label="Mango (Fruit)" ng-cloak dir="rtl" >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>ספק חדש</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding layout-margin>
      <md-input-container class="md-block" flex>
        <label>שם ספק</label>
        <input type="text" name="name" ng-model="name">
        <div ng-messages="newSupplier.name.$error">
          <div ng-message="required">חובה להזין שם ספק</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>מספר ספק</label>
        <input type="number" name="id" ng-model="supplierId">
        <div ng-messages="newSupplier.supplierId.$error">
          <div ng-message="required">חובה להזין מזהה ספק</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions layout="row" flex>
      <md-button aria-label="cancel" ng-click="cancel()" class="md-primary">בטל</md-button>
      <md-button aria-label="ok" type="submit" ng-click="ok()" class="md-primary">הוסף</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>