<md-card layout="column">
    <a ng-click="vm.toggleFilterSection()" style="margin: 0; cursor: pointer">
        <md-card-title class="management-filter-card-title">
            <md-card-title-text>
                <h3>{{vm.cardTitle}}</h3>
            </md-card-title-text>
            <md-button class="md-icon-button" aria-label="toggle">
                <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
            </md-button>
        </md-card-title>
    </a>
    <div id="filterInputs" layout-gt-xs="row" flex layout-padding ng-show="vm.showTasksFilter">
        <div layout-gt-xs="column" flex="90" layout="column">
            <div layout-gt-xs="row" layout="column">

                <md-select-multi flex class="multi-select-container" select-lable="'רשת'" select-model="vm.ordersFilter.networkId" select-values="vm.networks"></md-select-multi>

                <!-- <md-select-multi flex class="multi-select-container" select-lable="'סניף'" ng-if="vm.ordersFilter.networkId === undefined || vm.ordersFilter.networkId.length < 1" select-model="vm.ordersFilter.branchId" select-values="vm.branches"></md-select-multi> -->

                <md-select-multi flex class="multi-select-container" select-lable="'סניף'"  select-model="vm.ordersFilter.branchId" select-values="vm.branchesToFilter"></md-select-multi>

                <md-input-container >
                    <label>תאריך הזמנה</label>
                    <md-datepicker md-open-on-focus ng-model="vm.ordersFilter.createdDate" md-hide-icons="calendar"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>מספר הזמנה</label>
                    <input ng-model="vm.ordersFilter.orderId" name="name" type="text">
                </md-input-container>

            </div>

            <div layout-gt-xs="row" layout="column">
                
                <md-select-multi class="multi-select-container" flex="30" select-lable="'מחלקה'" select-model="vm.ordersFilter.departmentId" select-values="vm.departments"></md-select-multi>

                <md-select-multi style="max-width: 25%;" flex="30" select-lable="'פריטים'" select-model="vm.ordersFilter.items" select-values="vm.itemsToFilter"></md-select-multi>

            <!-- </div>
            <div layout-gt-xs="row" layout="column"> -->
                <md-input-container class="md-block" flex="20">
                    <md-switch style="margin: 3px;" class="md-primary" name="special" ng-model="vm.ordersFilter.unhandledItems" required>
                        פריטים שלא טופלו
                    </md-switch>
                </md-input-container>

                <md-input-container class="md-block" flex="20">
                    <md-switch style="margin: 3px;" class="md-primary" name="special" ng-model="vm.ordersFilter.showSecondOrders" required>
                        אספקה שניה
                    </md-switch>
                </md-input-container>
            </div>
        </div>
        <div class="md-secondary md-block" flex="10" layout="column" layout-align="center center">
            <md-button aria-label="filter" ng-click="vm.filter()" class="md-warn md-raised md-hue-1">סנן</md-button>
            <md-button aria-label="filter" ng-click="vm.clean()" class="md-warn md-raised md-hue-1">איפוס</md-button>
            <md-button ng-if="vm.showDownloadExcelBtn" aria-label="download" ng-click="vm.downloadFilterdTable()" class=" md-raised ">
                <md-icon ng-hide="vm.downloading" style="width:22px;height:22px;" md-svg-src="/assets/images/Exel_download.svg">
                </md-icon>
                <md-progress-circular ng-show="vm.downloading" class="md-hue-2 btn-circular" md-diameter="20px"></md-progress-circular>
            </md-button>
        </div>
    </div>
</md-card>