<md-card layout="column">
    <a ng-click="vm.toggleFilterSection()" style="margin: 0; cursor: pointer">
        <md-card-title class="management-filter-card-title">
            <md-card-title-text>
                <h3>{{vm.cardTitle}}</h3>
            </md-card-title-text>
            <md-button class="md-icon-button" aria-label="toggle">
                <ng-md-icon id="expand_more_icon" icon="{{vm.expand_icon}}" options='{"rotation": "counterclock"}'></ng-md-icon>
            </md-button>
        </md-card-title>
    </a>
    <div id="filterInputs" layout-gt-xs="row" flex layout-padding ng-show="vm.showTasksFilter">
        <div layout-gt-xs="column" flex="90" layout="column">
            <div layout-gt-xs="row" layout="column">
                <md-input-container class="md-block" flex>
                    <label>רשת</label>
                    <md-select md-no-asterisk ng-model="vm.ordersFilter.networkId" name="user" multiple>
                        <md-select-header>
                            <md-option value="vm.networkFilterAll" dir="rtl">
                                all
                            </md-option>
                        </md-select-header>
                        <md-option ng-repeat="(key, value) in vm.networks" value="{{value.id}}" dir="rtl">
                            {{value.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>סניף</label>
                    <md-select md-no-asterisk ng-model="vm.ordersFilter.branchId" name="user" multiple>
                        <md-option ng-if="vm.ordersFilter.networkId === undefined || vm.ordersFilter.networkId === ''" ng-repeat="(key, value) in vm.branches"
                            value="{{value.id}}" dir="rtl">
                            {{value.name}}
                        </md-option>
                        <md-option ng-if="vm.ordersFilter.networkId !== undefined && vm.ordersFilter.networkId !== ''" ng-repeat="(key, value) in vm.getNetworksBranches()"
                            value="{{value.id}}" dir="rtl">
                            {{value.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>תאריך הזמנה</label>
                    <md-datepicker md-open-on-focus ng-model="vm.ordersFilter.createdDate" md-hide-icons="calendar"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>מספר הזמנה</label>
                    <input ng-model="vm.ordersFilter.orderId" name="name" type="number">
                </md-input-container>

            </div>

            <div layout-gt-xs="row" layout="column">
                <md-input-container class="md-block" flex>
                    <label>מחלקה</label>
                    <md-select md-no-asterisk ng-model="vm.ordersFilter.departmentId" name="user" multiple>
                        <md-option ng-repeat="d in vm.departments" value="{{d.id}}" dir="rtl">
                            {{d.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>פריט בהזמנה</label>
                    <!--<md-chips ng-model="vm.selectedItems" 
                              md-autocomplete-snap 
                              md-transform-chip="vm.transformChip($chip)"
                              md-require-match="false"
                              md-separator-keys="vm.customKeys">
                        <md-autocomplete md-selected-item="vm.selectedItem" 
                                         md-search-text="vm.searchText" 
                                         md-items="item in vm.querySearch(vm.searchText)"
                                         md-item-text="item.name" 
                                         placeholder="חפש פריט">
                            <span dir="rtl" md-highlight-text="vm.searchText">{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span dir="rtl">
                                <strong>{{$chip.name}}</strong>
                            </span>
                        </md-chip-template>
                    </md-chips>-->
                    <input ng-model="vm.ordersFilter.freeText" name="name">
                </md-input-container>
            </div>
            <div layout-gt-xs="row" layout="column">
                <md-input-container class="md-block" flex>
                    <md-switch class="md-primary" name="special" ng-model="vm.unhandledItems" required>
                        פריטים שלא טופלו
                    </md-switch>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <md-switch class="md-primary" name="special" ng-model="vm.showSecondOrders" required>
                        אספקה שניה
                    </md-switch>
                </md-input-container>
            </div>
        </div>
        <div class="md-secondary md-block" flex="10" layout="column" layout-align="center center">
            <md-button aria-label="filter" ng-click="vm.filter()" class="md-warn md-raised md-hue-1">סנן</md-button>
            <md-button ng-if="vm.showDownloadExcelBtn" aria-label="download" ng-click="vm.downloadFilterdTable()" class=" md-raised ">
                <md-icon ng-hide="vm.downloading" style="width:22px;height:22px;" md-svg-src="/assets/images/Exel_download.svg">
                </md-icon>
                <md-progress-circular ng-show="vm.downloading" class="md-hue-2 btn-circular" md-diameter="20px"></md-progress-circular>
            </md-button>
        </div>
    </div>
</md-card>